@import 'style/colors.scss';
@import 'style/text.scss';

.wrapper {
  padding: 71px 0 90px 0;
  background-color: #2c0c72;
  color: $white;

  .inner {
    @extend .size-xl;

    .readTheDocsButton {
      margin-top: 35px;
    }
  }
}
