@import 'style/colors.scss';
@import 'style/text.scss';

.wrapper {
  padding: 161px 0 113px 0;
  background-color: $white;

  .inner {
    @extend .size-xl;
    color: $black;
  }
}

@media (max-width: 600px) {
  .wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
  }
}
