.wrapper {
  padding: 52px 0 85px 0;
  background-color: #eeeeee;

  .logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1064px;
    margin: 55px auto 0;

    > * {
      width: auto;
      margin: 0 15px 40px 15px;
    }
  }
}

@media (max-width: 1180px) {
  .wrapper {
    text-align: center;

    .logos {
      width: 80%;
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    padding: 50px 0;
    text-align: center;

    .logos {
      margin-top: 20px;
      width: 80%;

      > * {
        max-width: 120px;
        height: auto !important;
        max-height: 50px;
        margin: 5px 5px 15px;
      }
    }
  }
}
