.wrapper {
  //margin-top: -15px;
  margin-top: 4rem;
  margin-left: auto;

  .emailInput {
    //margin-left: 3rem;
    width: 342px;
    margin-right: 14px;
    margin-bottom: 1rem;
  }

  @media (max-width: 1180px) {
    margin-top: 55px;
  }
}

//
//@media(max-width: 1250px) {
//  .wrapper {
//    .emailInput {
//      width: 100%;
//      margin-bottom: 1rem;
//    }
//  }
//}
//
//@media(max-width: 1180px) {
//  .wrapper {
//    .emailInput {
//      width: 342px;
//      margin-bottom: 1rem;
//    }
//  }
//}

@media (max-width: 600px) {
  .wrapper {
    //width: 100%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;

    .emailInput {
      width: calc(100% - 34px);
      margin: 0 0 1rem;
      font-size: 0.9rem;
      line-height: 2.5rem;
      padding: 0 1rem;
    }

    .getUpdatesButton {
      font-size: 0.9rem;
      line-height: 2.5rem;
      margin-top: 1rem;
    }
  }
}
