@import '../../../../style/colors';

.rightHeroBlock {

}

//.customSubstackEmbed {
//  margin-top: 9rem;
//  width: 30rem;
//}

.customSubstackEmbed {
  margin-top: 10.5rem;
  width: 30rem;
  min-height: 5rem;

  form {
    border-width: 1px !important;
    max-width: 100% !important;
  }

  button {
    //min-width: 10rem !important;
    justify-content: center;
    white-space: nowrap;
    //font-family: 'Space Grotesk';
    font-size: 1rem !important;
    padding: 0 1.5rem !important;
  }
}

@media (max-width: 1180px) {
  .customSubstackEmbed {
    margin-top: 3rem;
    width: auto;
    min-height: 5rem;

    form {
      flex-direction: column !important;
      align-items: start !important;
      border: none;

      input {
        border-width: 1px !important;
        padding: 1rem !important;
      }
    }

    button {
      //white-space: normal;
      text-align: left;
      font-size: 0.9rem !important;
      font-weight: 300 !important;
      padding: 0.6rem 0.9rem !important;
      border: 1px solid #fff !important;
      margin-top: 0.5rem;
      border-radius: 0.25rem;
    }
  }
}

@media (max-width: 290px) {
  .customSubstackEmbed {
    margin-top: 1rem;
  }
}