.wrapper {
  //margin-top: -15px;
  margin-top: 4rem;
  margin-left: auto;

  .emailInput {
    //margin-left: 3rem;
    width: 342px;
    margin-right: 14px;
  }

  @media (max-width: 1180px) {
    margin-top: 55px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    //width: 100%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;

    .emailInput {
      width: calc(100% - 26px);
      margin: 0 0 1rem;
    }
  }
}
