@import 'style/colors.scss';
@import 'style/text.scss';

.wrapper {
  position: relative;
  padding: 180px 0 173px 0;
  background-color: #281647;

  .inner {
    max-width: 1180px;
    margin: 0 auto;

    .topWrapper {
      display: flex;
      align-items: center;

      @media (max-width: 1180px) {
        display: block;
      }
    }
  }
}
