@import 'style/colors.scss';
@import 'style/text.scss';

.wrapper {
  position: relative;
  padding: 180px 0 173px 0;
  background-color: #281647;
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 66%, 30% 96%, 0 88%);

  .inner {
    max-width: 1180px;
    margin: 0 auto;

    .topWrapper {
      display: flex;
      align-items: center;

      @media (max-width: 1180px) {
        display: block;
      }
    }
  }
}
