@import 'style/colors.scss';
@import 'style/text.scss';

.wrapper {
  height: 205px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(25, 7, 65, 1);

  > * {
    margin-right: 74px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    @extend .size-xl;
    color: $brand4;
    color: #bfa1ff;
  }
}

@media (max-width: 600px) {
  .wrapper {
    flex-wrap: wrap;
    //height: 400px;
    padding: 1rem;
    justify-content: space-evenly;

    > * {
      margin-right: 0;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      text-align: center;
    }

    .linkTwitter,
    .linkDiscord {
      width: 20%;
    }

    .linkBlog,
    .linkContact,
    .linkDeveloper {
      width: 32%;
    }
  }
}
